html {
  min-height: 100%;
}

body {
  font-family: "Fira Mono" !important;
  height: 100%;
  color: #2b2d2f;
}

.editor {
  margin: 100px;
}

.editor:focus {
  outline: none;
}

a {
  color: darkslategrey;
}

a:hover {
  color: #2b2d2f;
}

.editor > ul {
  margin: 5px 0;
}

.editor > ul {
  list-style-type: none;
}

.editor > ul > li {
  text-indent: -5px;
  margin: 5px 0;
}

.editor > ul > li:before {
  content: "- ";
  text-indent: -5px;
}

blockquote {
  border-left: 5px solid #2b2d2f;
  padding-left: 5px;
  border-radius: 5px;
}
