html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Fira Code' !important;
    height: 100%;
}

.editor {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 100px;
    word-break: break-all;
    word-wrap: break-word;
}

.editor:focus {
    outline: none;
}